.app {
  height: 100%;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background: #1c1f24;
}

.app-title {
  color: #fff;
  margin: 0 0 15px 0;
  font-family: sans-serif;
}

.app-blotter {
  height: calc(100% - 50px);
  width: 100%;
}
